# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.


Feature: Teams Actions

  @TeamsURLmappingStability
  Scenario: Teams User Actions
    Given delete active asset by Name "O365Proxy"
    And create office asset named "O365Proxy" with URL mapping prefix "app2"
    When A user login to Teams via url mapping
    And TeamsUI - create file named "1teams" under "root" type word
    And TeamsUI - create folder named "firstfolder" under "root"
    And TeamsUI - create folder named "sharefolder" under "root/firstfolder"
    And TeamsUI - share folder "root/firstfolder/sharefolder"
    And TeamsUI - unshare folder "root/firstfolder/sharefolder"
    And TeamsUI - rename folder "root/firstfolder/sharefolder" to "notshare"
    And TeamsUI - copy file "root/1teams.docx" To folder path "root/firstfolder/notshare"
    And TeamsUI - rename file "root/firstfolder/notshare/1teams.docx" to new file name "deleteme"
    And TeamsUI - view file "root/firstfolder/notshare/deleteme.docx"
    And TeamsUI - modify file "root/firstfolder/notshare/deleteme.docx" add text "newfilecontent"
    And TeamsUI - move file "root/firstfolder/notshare/deleteme.docx" to "root/firstfolder"
    And TeamsUI - download file "root/1teams.docx"
    And TeamsUI - delete folder "root/firstfolder"
    And TeamsUI - delete file "root/1teams.docx"
# X   And TeamsUI - upload file to "root"
#    And TeamsUI - create file under "root/" named "test" type "word"
# X   And TeamsUI - restore file "root/firstfolder/deleteme.docx"
